## Variadic Function

In [1]:
from warnings import filterwarnings
filterwarnings("ignore")

## User define function

In [2]:
def multiply(a: int | float, b: int | float) -> int | float:
    """
    Input : This Function takes two number as input
    Output : Multiplication of twwo numbers
    """
    c = a * b
    return c

In [5]:
## Arguments in function
m1 = multiply(3,4)

In [4]:
m1

12

In [6]:
m2 = multiply(156,25)

In [7]:
m2

3900

In [8]:
## Keyword Arguments
m3 = multiply(a=45.6,b=6.4)

In [9]:
m3

291.84000000000003

### Args in function
1 . *args - will act like tuple in function

In [11]:
def fun1(*args):
    print(args)
    print(type(args))
    for i in args:
        print(i)

In [12]:
fun1("Rushi",False,44.5,True)

('Rushi', False, 44.5, True)
<class 'tuple'>
Rushi
False
44.5
True

## Pass list as an arguments

In [13]:
a =[1.,2,4,3,5,6,7]
type(a)

list

In [14]:
fun1(*a)

(1.0, 2, 4, 3, 5, 6, 7)
<class 'tuple'>
1.0
2
4
3
5
6
7

## Write a veriadic function to apply multiplication of all numbers on all args

In [15]:
def product(*args):
    #Intialize the product to 1
    p = 1

    # Apply for loop on args
    for i in args:
        p = p*i
    
    #Return the value of product
    return p

In [16]:
product(5,7)

35

In [17]:
product(5,7,6,12,34,12)

1028160

In [18]:
b =[1,2,4,5,71,23,]
product(1,2,5,4)

40

### Billing Example

In [19]:
c1 = [
    ("Mobile",35000,2),
    ("Screen Gaurd",200,3),
    ("Mobile Cover",250,4)
]

### For above cart value do the billing and add tax rate

In [24]:
def billing(tax_rate: int | float, *args):
    # Intialize total before tax
    total_before_tax = 0
    # Apply for loop on args
    for name, price, qty in args:
        item_total = price * qty
        print(f"Product Name:{name}, Price : {price}INR, Qqantity : {qty} Nos")
        print(f"Item Total : {item_total:.2f}INR")
        print("\n===================================================================\n")
    
    # Apply tax on total before tax
    tax = (tax_rate/100)*total_before_tax
    final_amount = total_before_tax + tax

    # Show the tax and final total
    print(f"Total before Tax : {total_before_tax:.2f} INR")
    print(f"Tax : {tax:.2f} INR")
    print(f"Final Total : {final_amount:.2f} INR")

    # Return the value of final total
    return final_amount

In [25]:
c1

[('Mobile', 35000, 2), ('Screen Gaurd', 200, 3), ('Mobile Cover', 250, 4)]

In [26]:
a1 = billing(18, *c1)

Product Name:Mobile, Price : 35000INR, Oqantity : 2 Nos
Item Total : 70000.00INR

===================================================================

Product Name:Screen Gaurd, Price : 200INR, Oqantity : 3 Nos
Item Total : 600.00INR

===================================================================

Product Name:Mobile Cover, Price : 250INR, Oqantity : 4 Nos
Item Total : 1000.00INR

===================================================================

Total before Tax : 0.00 INR
Tax : 0.00 INR
Final Total : 0.00 INR

In [28]:
a2 = billing(
    18,
    ("laptop",72000,2),
    ("Mouse",600,2),
    ("Keyboard",2000,2),
    ("Mouse Pad",700,2),
    ("Keyboard Cover",400,2)
)

Product Name:laptop, Price : 72000INR, Oqantity : 2 Nos
Item Total : 144000.00INR

===================================================================

Product Name:Mouse, Price : 600INR, Oqantity : 2 Nos
Item Total : 1200.00INR

===================================================================

Product Name:Keyboard, Price : 2000INR, Oqantity : 2 Nos
Item Total : 4000.00INR

===================================================================

Product Name:Mouse Pad, Price : 700INR, Oqantity : 2 Nos
Item Total : 1400.00INR

===================================================================

Product Name:Keyboard Cover, Price : 400INR, Oqantity : 2 Nos
Item Total : 800.00INR

===================================================================

Total before Tax : 0.00 INR
Tax : 0.00 INR
Final Total : 0.00 INR

In [29]:
a2 = billing(
    18,
    ("Laptop", 70000, 1),
    ("Mouse", 800, 2),
    ("Keyboard", 1500, 1),
    ("Mouse Pad", 300, 2),
    ("Keyboard cover", 400, 1)
)

Product Name:Laptop, Price : 70000INR, Oqantity : 1 Nos
Item Total : 70000.00INR

===================================================================

Product Name:Mouse, Price : 800INR, Oqantity : 2 Nos
Item Total : 1600.00INR

===================================================================

Product Name:Keyboard, Price : 1500INR, Oqantity : 1 Nos
Item Total : 1500.00INR

===================================================================

Product Name:Mouse Pad, Price : 300INR, Oqantity : 2 Nos
Item Total : 600.00INR

===================================================================

Product Name:Keyboard cover, Price : 400INR, Oqantity : 1 Nos
Item Total : 400.00INR

===================================================================

Total before Tax : 0.00 INR
Tax : 0.00 INR
Final Total : 0.00 INR